a {
	text-decoration:none;
	color:#4D4D4D;
}
.conetnts {
	background-color: #EDEDED;
	padding: 200px 0;
	font-font:Apple Chancery, Chancery;
}

.contents-wrapper {
	margin: 0 auto;
	background-color: white;
	width:800px;
	padding: 0 30px 200px 30px;
}
.contents-header {
	padding: 30px 30px 0 30px;
}
.contents-header h2{
	font-family: Academy Engraved LET, Plain;
	font-size:16px;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
}
.contents-header img{
	width: 100%;
}

.entry__inner{
	margin-top: 20px;
	text-align: center;
}
.entry__time{
	margin: 0;
}
.entry__ttl{
	margin:5px 0;
}

ul{
	padding-left:0;
}

li{
	list-style:none;
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
	.contents-wrapper {
		width: 480px;
	}
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
	.conetnts {
		padding: 100px 0;
	}
	.contents-wrapper {
		width:85%;
		padding: 0 0px 50px 0px;
		min-height: 750px;
	}
	.contents-header h2{
		font-family: Academy Engraved LET, Plain;
		font-size:12px;
		padding-bottom: 20px;
		border-bottom: 1px solid black;
	}
	.contents-header img{
		width: 100%;
	}

	.entry__inner{
		margin-top: 20px;
		text-align: center;
	}
	.entry__time{
		margin: 0;
	}
	.entry__ttl{
		margin:5px 0;
	}
}