body{
	margin:0 !important;
}
html {
	margin:0 !important;
}
header {
	height: 60px;
	top:0;
	left:0;
	right:0;
	position: fixed;
	background-color: #000000;
	display: flex;
	align-items: center;
	z-index:1000;
}
.header-bar a {
	text-decoration: none;
	color: #FDFCFA;
	font-family: Academy Engraved LET, Plain;
	padding: 10px 0;
}
.header-bar nav {

	margin: 0 0 0 auto;
}
.header-bar ul {
	list-style: none;
	margin: 0 50px 0 0;
	display: flex;
}
.header-bar li {
	margin: 0 0 0 30px;
	font-size: 20px;
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
	header {
		height: 30px;
	}
	.header-bar ul {
		margin: 0 30px 0 0;
	}
	.header-bar li {
		margin: 0 0 0 10px;
		font-size: 10px;
	}
}